{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{{ site.title|e('html') }}{% if page.menu %} | {{ page.menu|e('html') }}{% endif %}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    {% include 'partials/site-icons.html.twig' %}
{% endblock head %}

{% block stylesheets %}
    {% do assets.addCss('theme://css/bootstrap-reel.css', 100) %}
    {% do assets.addCss('theme://icons/css/all.min.css', 99) %}
{% endblock %}

{% block javascripts %}
    {% do assets.addJs('theme://js/bootstrap.bundle.min.js', 100) %}
    {% do assets.addJs('theme://js/honeypotter.js', 99) %}
{% endblock %}

{% block assets deferred %}
    {{ assets.css()|raw }}
{% endblock %}
</head>
<body>

<div class="background">
    <div class="diamonds">
    {% for i in 0..4 %}
        <div class="diamond-{{ i }}"></div>
    {% endfor %}
    </div>
</div>

<div class="min-vh-100 d-flex flex-column justify-content-between">
{% block header %}
<header class="container border-bottom pt-4 pb-3 mb-5">
    {% include 'partials/navigation.html.twig' %}
</header>
{% endblock %}

{% block body %}
<main class="container" lang="de">
    {% block content %}{% endblock %}
</main>
{% endblock %}

{% block footer %}
<footer class="container border-top pt-5 pb-4 pb-md-0 mt-5 text-center font-weight-light">
    {% include 'partials/sponsors.html.twig' %}
    {% include 'partials/footer.html.twig' %}
</footer>
{% endblock %}

{% block bottom %}
    {{ assets.js()|raw }}
{% endblock %}
</div>
</body>
</html>
