{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{{ site.title|e('html') }}{% if page.menu %} | {{ page.menu|e('html') }}{% endif %}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    {% include 'partials/site-icons.html.twig' %}
{% endblock head %}

{% block stylesheets %}
    {% do assets.addCss('theme://css/bootstrap-reel.css', 100) %}
    {% do assets.addCss('theme://css/bootstrap-icons.css', 99) %}
{% endblock %}

{% block javascripts %}
    {% do assets.addJs('theme://js/bootstrap.min.js', 100) %}
    {% do assets.addJs('theme://js/jquery-3.5.1.min.js', 99) %}
    {% do assets.addJs('theme://js/honeypotter.js', 98) %}
{% endblock %}

{% block assets deferred %}
    {{ assets.css()|raw }}
{% endblock %}
</head>
<body class="container min-vh-100 d-flex flex-column justify-content-between">

{% block header %}
<header class="my-4">
    {% include 'partials/navigation.html.twig' %}
</header>
{% endblock %}

{% block body %}
<main lang="de" class="my-auto">
    {% block content %}{% endblock %}
</main>
{% endblock %}

{% block footer %}
<footer class="mt-5 mb-4 mb-md-0 text-center font-weight-light">
    {% include 'partials/footer.html.twig' %}
</footer>
{% endblock %}

{% block bottom %}
    {{ assets.js()|raw }}
{% endblock %}

</body>
</html>
