{% macro loop(page, level) %}
	{% for p in page.children.visible %}
		{% set current_page = (p.active or p.activeChild) ? 'active' : '' %}
		{% if p.children.visible.count > 0 %}
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle {{ current_page }}" href="#" data-bs-toggle="dropdown">
					{% if p.header.icon %}<i class="bi-{{ p.header.icon }}"></i>{% endif %}
					{{ p.menu }}
				</a>
				<ul class="dropdown-menu">
					{{ _self.loop(p, level + 1) }}
				</ul>
			</li>
		{% elseif level > 0 %}
			<li>
				<a class="dropdown-item {{ current_page }}" href="{{ p.url }}">
					{% if p.header.icon %}<i class="bi-{{ p.header.icon }}"></i>{% endif %}
					{{ p.menu }}
				</a>
			</li>
		{% else %}
			<li class="nav-item">
				<a class="nav-link {{ current_page }}" href="{{ p.url }}">
					{% if p.header.icon %}<i class="bi-{{ p.header.icon }}"></i>{% endif %}
					{{ p.menu }}
				</a>
			</li>
		{% endif %}
	{% endfor %}
{% endmacro %}

<div class="row align-items-end justify-content-center">
	{% if page.url != '/' %}
		<div class="col-5 col-sm-4 col-lg-2">
			<a href="/">
				<div class="reel-logo"></div>
			</a>
		</div>
	{% endif %}
	<div class="col-12 col-lg-6">
		<ul class="nav nav-pills justify-content-center">
			{{ _self.loop(pages, 0) }}
		</ul>
	</div>
</div>
