{% macro loop(page, level) %}
	{% for p in page.children.visible %}
		{% set current_page = (p.active or p.activeChild) ? 'active' : '' %}
		{% set is_dropdown = (level > 0) ? 'dropdown-item' : '' %}
		{% if p.children.visible.count > 0 %}
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle  {{ current_page }}" href="#" data-bs-toggle="dropdown">
					{% if p.header.icon %}<i class="bi-{{ p.header.icon }}"></i>{% endif %}
					{{ p.menu }}
				</a>
				<ul class="dropdown-menu">
					{{ _self.loop(p, level + 1) }}
				</ul>
			</li>
		{% elseif level > 0 %}
			<li>
				<a class="dropdown-item {{ current_page }}" href="{{ p.url }}">
					{% if p.header.icon %}<i class="bi-{{ p.header.icon }}"></i>{% endif %}
					{{ p.menu }}
				</a>
			</li>
		{% else %}
			<li class="nav-item">
				<a class="nav-link {{ current_page }}" href="{{ p.url }}">
					{% if p.header.icon %}<i class="bi-{{ p.header.icon }}"></i>{% endif %}
					{{ p.menu }}
				</a>
			</li>
		{% endif %}
	{% endfor %}
{% endmacro %}

<nav class="navbar navbar-expand-sm navbar-light bg-light">
	<div class="container">
		<a class="navbar-brand" href="#">Navbar</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse"  id="navbarMain">
			<ul class="navbar-nav mx-auto">
				{{ _self.loop(pages, 0) }}
			</ul>
		</div>
	</div>
</nav>
