<ul class="nav nav-pills text-center flex-row justify-content-center">
	{% for page in pages.children.visible %}
		{% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
		<li class="nav-item">
			<a class="nav-link {{ current_page }}" href="{{ page.url }}">
				{% if page.header.icon %}<i class="bi-{{ page.header.icon }}"></i>{% endif %}
				{{ page.menu }}
			</a>
		</li>
	{% endfor %}
    {% for mitem in site.menu %}
        <li>
            <a href="{{ mitem.url }}">
                {% if mitem.icon %}<i class="bi-{{ mitem.icon }}"></i>{% endif %}
                {{ mitem.text }}
            </a>
        </li>
    {% endfor %}
</ul>
