<div class="container mb-5">
    <div class="row row-cols-2 row-cols-md-3 justify-content-evenly">
        <div class="col p-3 m-3 bg-white rounded">
            <a href="https://lsa.lu"><img src="{{ url('theme://sponsors/lsa.svg') }}"></a>
        </div>
        <div class="col p-3 m-3 bg-white rounded">
            <a href="https://wort.lu"><img src="{{ url('theme://sponsors/wort.svg') }}"></a>
        </div>
    
    </div>
    
    <div class="row row-cols-4 row-cols-md-6 justify-content-evenly">
        <div class="col p-3 m-3 bg-white rounded">
            <a href="https://cssf.lu"><img style="max-height:80px" src="{{ url('theme://sponsors/cssf.svg') }}"></a>
        </div>
        <div class="col p-3 m-3 bg-white rounded">
            <a href="https://creos.lu"><img style="max-height:80px" src="{{ url('theme://sponsors/creos.svg') }}"></a>
        </div>
        <div class="col p-3 m-3 bg-white rounded">
            <a href="https://bcee.lu"><img style="max-height:80px" src="{{ url('theme://sponsors/bcee.svg') }}"></a>
        </div>
        <div class="col p-3 m-3 bg-white rounded">
            <a href="https://davinci.lu"><img style="max-height:80px" src="{{ url('theme://sponsors/davinci.svg') }}"></a>
        </div>
        <div class="col p-3 m-3 bg-white rounded">
            <a href="https://chambredecommerce.lu"><img style="max-height:80px" src="{{ url('theme://sponsors/cc.svg') }}"></a>
        </div>
        <div class="col p-3 m-3 bg-white rounded">
            <a href="https://paulwurth.lu"><img style="max-height:80px" src="{{ url('theme://sponsors/paul-wurth.svg') }}"></a>
        </div>
        <div class="col p-3 m-3 bg-white rounded">
            <a href="https://vdl.lu"><img style="max-height:80px" src="{{ url('theme://sponsors/vdl.svg') }}"></a>
        </div>
        <div class="col p-3 m-3 bg-white rounded">
            <a href="https://lsc.lu"><img style="max-height:80px" src="{{ url('theme://sponsors/lsc.svg') }}"></a>
        </div>
        <div class="col p-3 m-3 bg-white rounded">
            <a href="https://bakertilly.lu"><img style="max-height:80px" src="{{ url('theme://sponsors/bakertilly.svg') }}"></a>
        </div>
        <div class="col p-3 m-3 bg-white rounded">
            <a class="m-auto" href="https://createam.lu"><img style="max-height:80px" src="{{ url('theme://sponsors/createam.svg') }}"></a>
        </div>
        <div class="col p-3 m-3 bg-white rounded">
            <a href="https://post.lu"><img style="max-height:80px" src="{{ url('theme://sponsors/post.svg') }}"></a>
        </div>
        <div class="col p-3 m-3 bg-white rounded">
            <a href="https://aneili.lu"><img style="max-height:80px" src="{{ url('theme://sponsors/aneil.svg') }}"></a>
        </div>
    </div>
</div>
