{% extends 'partials/base.html.twig' %}
{% do assets.addJs('theme://js/configurator.js', 98) %}

{% set configs = page.header.configs %}

{% block content %}
    <h2>Options</h2>
    {% for config in configs %}
        {% set input_type = (config.type == 'radio') ? 'radio' : 'checkbox' %}
        <h3>{{ config.name }}</h3>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 mb-4">
        {% set checked = 'checked' %}
        {% for option in config.options %}
            <div class="col form-check">
                <input type="{{ input_type }}" class="btn-check" name="{{ config.slug }}" id="{{ config.slug }}-{{ option.slug }}" value="{{ option.price }}" autocomplete="off" {{ checked }}>
                {% set checked = '' %}
                <label class="card" for="{{ config.slug }}-{{ option.slug }}" role="button">
                    <div class="card-body">
                        <h4 class="card-title">
                            {{ option.name }} <span class="text-muted float-end">+{{ option.price }}€</span>
                        </h4>
                        <ul class="card-text">
                        {% for element in option.include %}
                            <li>{{ element }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                </label>
            </div>
        {% endfor %}
        </div>
    {% endfor %}

    <h2>
        Total: <span id="total">0</span> €
    </h2>
{% endblock %}
