{% extends 'partials/base.html.twig' %}
{% do assets.addJs('theme://js/configurator.js', 98) %}

{% set formulas = page.header.formulas %}
{% set configs = page.header.configs %}

{% block content %}
<div class="row">
    <div class="col-12 col-xl-8">
        <h2>Formules</h2>
        <div class="row row-cols-1 row-cols-md-2 g-2 mb-5">
            {% set checked = 'checked' %}
            {% for option in formulas %}
            <div class="col">
                {% set allow_config = (option.is_set) ? 'data-config=set' : 'data-config=custom' %}
                <input type="radio" class="btn-check" name="formula"
                    id="formula-{{ option.slug }}" value="{{ option.price }}"
                    autocomplete="off" {{ checked }} {{ allow_config }}>
                {% set checked = '' %}
                <label class="card" for="formula-{{ option.slug }}" role="button">
                    <div class="card-body">
                        <h4 class="card-title">
                            {{ option.name }}
                            <span class="text-muted float-end">+{{ option.price }}€</span>
                        </h4>
                        <ul class="card-text">
                        {% for element in option.include %}
                            <li>{{ element }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                </label>
            </div>
            {% endfor %}
        </div>

        <h2>Configuration</h2>
        {% for config in configs %}
            {% set input_type = (config.type == 'radio') ? 'radio' : 'checkbox' %}
            {% set checked = (input_type == 'radio') ? 'checked' : '' %} {# check first radio #}
            {% set child_class = (config.is_child) ? 'config-child collapse' : 'collapse show' %}

            <div id="{{ config.slug }}" class="config {{ child_class }}">
                <h3>
                    <i class="fas fa-{{ config.icon }}"></i>
                    {{ config.name }}
                </h3>
                <div class="row row-cols-1 row-cols-md-2 g-2 mb-5">
                    {% for option in config.options %}
                    <div class="col">
                        <input type="{{ input_type }}" class="btn-check" name="{{ config.slug }}"
                            id="{{ config.slug }}-{{ option.slug }}" value="{{ option.price }}"
                            autocomplete="off" {{ checked }} data-child="{{ option.child }}">
                        {% set checked = '' %}
                        <label class="card" for="{{ config.slug }}-{{ option.slug }}" role="button">
                            <div class="card-body">
                                <h4 class="card-title">
                                    {{ option.name }}
                                    <span class="text-muted float-end">+{{ option.price }}€</span>
                                </h4>
                                <ul class="card-text">
                                {% for element in option.include %}
                                    <li>{{ element }}</li>
                                {% endfor %}
                                </ul>
                            </div>
                        </label>
                    </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="col-12 col-xl-4">
        <div class="sticky-top pt-5">
            <h2>Votre choix</h2>
            <ul id="total-list">
                <li>Choix</li>
            </ul>
            <h3>Total: <span id="total">0</span> €</h3>
        </div>
    </div>
</div>
{% endblock %}
